@model MyMovies.ViewModels.MovieOverviewDataModel

@{
    ViewBag.Title = "Overview";
}

@section Styles{ 
    <link href="~/css/sideBar.css" rel="stylesheet" />    
}

<div class="row">

    <div class="col-md-9">

        <div class="row p-2">
            @foreach (var movie in Model.OverviewMovies)
            {
                <div class="card col-md-3 m-2" style="width: 18rem;">
                    <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">Views: @movie.Views</p>
                        <div class="card-text recipeDescription">@movie.Description</div>
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary">See more...</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3 p-1 " id="sidebar">
        <partial name="SideBarPartial" for="@Model.SidebarData" />
    </div>
</div>
    

