@model MyMovies.ViewModels.MovieOverviewDataModel

@{
    ViewBag.Title = "Overview";
}

@section Styles{ 
    <link href="~/css/sideBar.css" rel="stylesheet" />    
}

<div class="row">

    <div class="col-md-9">

        <div class="row p-2">
            @foreach (var movie in Model.OverviewMovies)
            {
                <div class="card col-md-3 m-2" style="width: 18rem;">
                    <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title - @movie.MovieGenre</h5>
                        <p class="card-text">Views: @movie.Views</p>
                        <p class="card-text">Likes: @movie.MovieLikes.Count()</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (movie.MovieLikes.Any(x => x.UserId == int.Parse(User.FindFirst("Id").Value)))
                            {
                                <a asp-controller="MovieLikes" asp-action="Remove" asp-route-movieId="@movie.Id">
                                    <i class="fas fa-thumbs-up"></i>
                                </a>
                            }
                            else
                            {
                                <a asp-controller="MovieLikes" asp-action="Add" asp-route-movieId="@movie.Id">
                                    <i class="far fa-thumbs-up"></i>
                                </a>
                            }

                        }
                        <div class="card-text recipeDescription">@movie.Description</div>
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="btn btn-primary">See more...</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3 p-1 " id="sidebar">
        <partial name="SideBarPartial" for="@Model.SidebarData" />
    </div>
</div>
    

